*{box-sizing:border-box;}

header {
  width: 100%;
  height: 60px;
  background-color: lightblue
}

aside {
  float:left;
  width: 20%;
  position:fixed
  
  
}
section {
  float:right;
  width:80%;
  
  padding: 30px;
  border-bottom:solid black;
  
  
  
  
}
#Profile{
  font-size:70%
}

#Profile2{
  font-size:70%
}